# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Nagini Basic Tests Windows Python 3.10

on: [push, pull_request, workflow_dispatch]

jobs:
  build:

    runs-on: windows-latest
    env:
      BOOGIE_EXE: "/home/runner/.dotnet/tools/boogie"
    steps:
    - uses: actions/checkout@v2
    - name: Set up Java 17
      uses: actions/setup-java@v4.4.0
      with:
        java-version: 17
        distribution: oracle
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
        architecture: "x64"
    - name: Install Boogie
      run: |
        dotnet tool install --global Boogie --version 2.15.9
    - name: Install Nagini
      run: |
        python -m pip install --upgrade pip
        pip install setuptools==68.2.0
        pip install pytest
        pip install .
    - name: Test with pytest
      run: |
        pytest -v -p no:faulthandler src/nagini_translation/tests.py --silicon --functional
